/* this css file will be processed by webpack and css-modules, rule names must be camelCase! */

.contentGrid {
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 10fr 2fr 1fr 2fr;
    grid-template-rows: 3fr 21fr 1fr 1fr 1fr;
}

.card {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.title {
    margin: 40px 0;
}

.playButton {
    min-width: 200px;
    margin: 20px 0;
}

.namesContainer {
    display: flex;
    flex-direction: column;
}

.nameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 20px;
}

.hidden {
    display: none;
}

.plusButton, .minusButton {
    width: 80px;
}

.helpButton {
    margin-right: 20px;
}

.loginInfo {
    margin-left: 20px;
}

.inlineLink {
    display: inline;
}

.indexFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}
