/* this css file will be processed by webpack and css-modules, rule names must be camelCase! */
.title {
    margin: 40px 0;
}

.playContainer {
    min-width: 320px;
    width: 100%;
    max-width: initial;
}

.playButton:hover {
    background-color: #259A40;
    border-color: #259A40;
    cursor: pointer;
}

.playButton {
    width: 100%;
    margin-bottom: 60px;
    min-height: 100px;
    font-size: 36px;
    font-weight: lighter;
}

.namesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: initial;
}

.nameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
}

.hidden {
    display: none;
}

.plusButton, .minusButton {
    width: 80px;
    margin-left: 10px;
}

.plusButton:hover, .minusButton:hover, .helpButton:hover {
    background-color: lightgray;
    cursor: pointer;
}

.helpButton {
    min-height: 38px;
}

.inlineLink {
    display: inline;
}

.userName {
    font-weight: bold;
}

.indexFooter {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: initial;
    justify-content: space-between;
}

@media (min-width: 640px) {
    .playContainer, .indexFooter {
        max-width: 720px;
    }
}
