/* this css file will be processed by webpack and css-modules, rule names must be camelCase! */

.contentGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 21fr 1fr;
}

.card {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    min-width: 380px;
    width: 100%;
    padding: 20px;
    overflow: auto;
}

@media (min-width: 640px) {
    .card {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}
