@*
* This template takes a single argument, a String containing a
* message to display.
*@

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Learn Duel")(Option("index.css")) {
    <div class="content-grid">
        <div class="card">
            <h1 class="title">
                Learn Duel
            </h1>
            <button class="play-button">
                >
            </button>
            <div class="names-container">
                <div class="name-row">
                    <input/>
                    <button class="plus-button">Plus</button>
                    <button class="minus-button">Minus</button>
                </div>
            </div>
        </div>
        <button
        class="help-button"
        onclick="location = '@controllers.routes.HomeController.help';">
            ?
        </button>
    </div>
}
