@(defaultPlayerName: String)

@main("Learn Duel")(Option("index.css"))(Option("index.js")) {
    <div class="content-grid">
        <div class="card">
            <h1 class="title">
                Learn Duel
            </h1>
            <button class="play-button">
                >
            </button>
            <div class="names-container">
                <div class="name-row">
                        <!--FIXME get placeholder from controller-->
                    <input type="text" placeholder="@defaultPlayerName" />
                    <button class="plus-button">Plus</button>
                    <button class="minus-button">Minus</button>
                </div>
                <div class="pseudo-name-row">
                    <input type="text"/>
                    <button class="plus-button">Plus</button>
                    <button class="minus-button">Minus</button>
                </div>
            </div>
        </div>
        <button class="help-button">
            ?
        </button>
    </div>
}
